h2{
  color: black;
  font-family: "Roboto";
  font-size: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat  ';
}
body {

  font-family: "Monteserrat";
  
}

.background {
  background-image: url("/davidvsc/media/foto-codigo.webp");
  transform: scale(1.1);
  filter: blur(4px);
  background-attachment: fixed;
  position: fixed;
  z-index: -50;
  inset: 0;

}

.proyect {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.proyect-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  
}

.proyect-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 80%;
  margin-top: 50px;
  padding: 1rem;
  margin-bottom: 50px;
}

.proyect-body {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}

.proyect-body h3 {
  width: 100%;
  text-align: center;
}

.proyect-body-content:hover .proyect-body-background{
  filter: grayscale(1) brightness(0.5);
  transform: scale(1.025);
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.5);

}

.proyect-body-background {
  position: absolute;
  border: 5px solid rgba(0,0,0,0.7);
  border-radius: 10px;
  inset: 0;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
  transition: all 0.3s ease-in;
}

.proyect-body-text{
  z-index: 20;
}
.proyect-body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  --size: 2.5rem;
  width: calc(var(--size)*16);
  height:calc(var(--size)*9);
  padding: 1rem;
  align-items: center;
  background-color: beige;
  border-radius: 10px;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
}

.proyect-body-content:hover {
  background-color: black;
  color: white;
  /* transform: scale(1.05);
  transition: 0.7s; */
}

.proyect-body-content h4{
  text-align: center;
  width: 100%;
}

.proyect-body-content p {
  display: none;
  text-align: center;

}

.proyect-body-content:hover p{
  display: flex;
}

.proyect-body-content a{
  display: none;
  text-align: center;
  background-color: beige;
  border-radius: 10px;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.proyect-body-content:hover a{
  display: flex;
}

.proyect-body-content a:hover{
  transform: scale(1.1);
  transition: 0.5s;
}